<%- include('partials/header') %>
<% if(!crop) {%>
  <h2>This crop data is not present in database. </h2>
  <% }else{ %>
<div class="containerCrop">
  <h1 class="crop-title"><%= crop.name %> Cultivation Guide</h1>

  <% const arr = crop.steps; %>
  <% Object.entries(arr).forEach(([key, value]) => { %>
   <section class="cultivation-section">
     <h2 style="font-size: large; padding: 5px 10px;"><%= key.replace(/_/g, ' ') %></h2>
     <ul style="padding-left: 20px;">
       <% var points = value.split(/(?<!\b(?:[IVXLCDM]+|[A-Za-z]))\.\s+/).map(point => point.trim()).filter(point => point !== '');  %>
       <% points.forEach(point => { %>
        <li><%= point %></li>
        <% }); %>

</ul>
</section> 
<% }); %>

  <section class="estimated-cost">
    <h2>Estimated Cost (per hectare):</h2>
    <p class="cost"><%= crop.cost %></p>
  </section>
</div>

<% } %>
<%- include('partials/footer') %>
