<%- include('partials/header') %>

<% const regex = /([A-Za-z0-9] I{1,3}\. [^I]+\.)\b/g; %>
<div class="containerCrop">
  <h1 class="crop-title"><%= crop.name %> Cultivation Guide</h1>

  <% const arr = crop.steps; %>
  <% Object.entries(arr).forEach(([key, value]) => { %>
   <section class="cultivation-section">
     <h2><%= key %></h2>
     <ul>
        <li><%= value %></li>
      </ul>
    </section> 
    <% }); %>


  <section class="estimated-cost">
    <h2>Estimated Cost (per hectare):</h2>
    <p class="cost"><%= crop.cost %></p>
  </section>
</div>

<%- include('partials/footer') %>
